body {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
}
.page {
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  color: saddlebrown;
}
.todaysImg img {
  max-width: 180px;
  max-height: 180px;
  margin-left: 130px;
  margin-top: 50px;
}
.display {
  display: block;
  max-width: 60px;
  max-height: 60px;
}
.currentLocation {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "DM Serif Display", serif;
  color: black;
}

#current-temp {
  font-size: 50px;
  color: azure;
}

.currentLocationButton {
  text-align: center;
  border: black;
  background: white;
  font-family: "DM Serif Display";
}
.weekAheadView {
  margin-top: 10%;
  margin-left: 10px;
}

p {
  text-align: center;
  font-family: "DM Serif Display";
  color: saddlebrown;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
