body {
  background: azure;
}
.page {
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  max-width: 800px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  color: saddlebrown;
}
.todaysImg img {
  max-width: 180px;
  max-height: 180px;
  margin-left: 150px;
}
.display {
  display: block;
  max-width: 60px;
  max-height: 60px;
}
.currentLocation {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.currentLocationButton {
  text-align: center;
  border: black;
  background: white;
}
.weekAheadView {
  margin-top: 10%;
  margin-left: 10px;
}

p {
  text-align: center;
  font-family: "DM Serif Display", serif;
  color: saddlebrown;
}
