body {
  background: azure;
}
.page {
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  max-width: 800px;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  border-radius: 10px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: "DM Serif Display", serif;
  font-size: 48px;
}
.display {
  display: block;
  max-width: 60px;
  max-height: 60px;
}
.currentLocation {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.currentLocationButton {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: black;
  background: white;
}
